---
title: "Welcome to the Famolympic Games"
layout: splash
header:
    overlay_color: "#000"
    overlay_filter: "0.5"
    overlay_image: /assets/images/olympics_track_hero.jpg
    actions:
      - label: "Sign up for your events today"
        url: "/"
    caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "The only officially sanctioned games of the extended Burke family. Compete in games of athleticism, skill, luck and highly biased judges to win glory and the chance to cement your place in history."
intro: 
  - excerpt: 'Given that the Famolympic games are by nature held in the summer at and/or around campgrounds, most games can be expected to be of a summery, campy nature. Check out some potential games below:'
feature_row2:
  - image_path: /assets/images/skipping.jpg
    title: "Rock Skipping"
    excerpt: 'May include skipping rocks on water and also skipping while holding rocks'
feature_row3:
  - image_path: /assets/images/campfire.jpg
    title: "Campfire"
    excerpt: 'Campfire making and campfire cooking'
feature_row4:
  - image_path: /assets/images/diving.jpg
    title: "Various Lake Related Activities"
    excerpt: "We're talking boating. We're talking swimming. We're talking throwing pebbles at floating objects. Get ready."
feature_row5:
  - image_path: /assets/images/logo_large.png
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="left" %}


{% include feature_row id="feature_row5" type="center" %}

